<form #LoginForm="ngForm" [formGroup]="loginControl" (ngSubmit)="onSaveForm()" >
    <div class="form-group">
      <div>
        <input
          formControlName="email"
          class="form-control"
          style="padding-left: 10px;"
          placeholder="EMAIL"
          type="email"
        />
      </div>
      <span 
        style="color: red;" 
        *ngIf="!email.valid && email.touched" 
        class="label label-danger">CAMPO OBLIGATORIO
      </span>
    </div>
    <div class="form-group">
      <div>
        <input
          formControlName="password"
          style="padding-left: 10px;"
          class="form-control"
          placeholder="CONTRASEÑA"
          type="password"
        />
      </div>
      <span 
          style="color: red" 
          *ngIf="!password.valid && password.touched" 
          class="label label-danger">OBLIGATORIO
        </span>
    </div>
    <div>
      <input
        formControlName="returnSecureToken"
        class="custom-control-input"
        id="returnSecureToken"
        type="checkbox"
        value="true"
      />
      <label class="custom-control-label" for="returnSecureToken">
        <span class="text-muted">CONTROL</span>
      </label>
    </div>
    <div>
      <p>
        HACER LOGIN<span>: </span><a (click)="login()" routerLink="()" >AUTH</a>
      </p>
    </div>
    <div class="text-center">
      <button [disabled]="!LoginForm.form.valid" type="submit">
        INICIAR SESIÓN
      </button>
    </div>
  </form>
  <p>
    <span>¿TIENES CUENTA? </span><a  [routerLink]="['/registrar']">REGISTRAR</a>
  </p>