<form #TransactionForm="ngForm" [formGroup]="transactionControl" (ngSubmit)="onSaveForm()" >
  
  <div class="form-group">
    <div>
      <input
        formControlName="numeroCuenta"
        class="form-control"
        style="padding-left: 10px;"
        placeholder="CUENTA"
        type="text"
      />
    </div>
    <span 
      style="color: red" 
      *ngIf="!numeroCuenta.valid && numeroCuenta.touched" 
      class="label label-danger">OBLIGATORIO
    </span>
  </div>
  <div class="form-group">
    <div>
      <input
        formControlName="terminal"
        class="form-control"
        style="padding-left: 10px;"
        placeholder="TERMINAL"
        type="text"
      />
    </div>
    <span 
      style="color: red" 
      *ngIf="!terminal.valid && terminal.touched" 
      class="label label-danger">OBLIGATORIO
    </span>
  </div>

  <div class="form-group">
    <div>
      <input
        formControlName="monto"
        class="form-control"
        style="padding-left: 10px;"
        placeholder="MONTO"
        type="number"
      />
    </div>
    <span 
      style="color: red" 
      *ngIf="!monto.valid && monto.touched" 
      class="label label-danger">OBLIGATORIO
    </span>
  </div>
  <div class="form-group">
    <div>
      <input
        formControlName="fechaUltimaAct"
        style="padding-left: 10px;"
        class="form-control"
        placeholder="FECHA ACT"
        type="date"
      />
    </div>
    <span 
      style="color: red" 
      *ngIf="!fechaUltimaAct.valid && fechaUltimaAct.touched" 
      class="label label-danger">OBLIGATORIO
    </span>
  </div>

  <div class="form-group option-radio-group">
    <div>
      <input
        formControlName="tipo"
        class="custom-control-input custom-true"
        id="tipoTrue"
        type="radio"
        name="tipo"
        value="DEPOSITO"
        checked
      />
      <label class="custom-control-label" for="tipoTrue">
        <span class="text-muted">DEPOSITO</span>
      </label>
    </div>
    <div>
      <input
        class="custom-control-input custom-false"
        formControlName="tipo"
        value="RETIRO"
        id="tipoFalse"
        name="tipo"
        type="radio"
      />
      <label class="custom-control-label" for="tipoFalse">
        <span class="text-muted">RETIRO</span>
      </label>
    </div>
    <span 
      style="color: red" 
      *ngIf="!tipo.valid && tipo.touched" 
      class="label label-danger">OBLIGATORIO
    </span>
  </div>   
  <div class="form-group">
      <div>
        <input
          formControlName="usuario"
          style="padding-left: 10px;"
          class="form-control input-disabled"
          placeholder="USUARIO"
          type="text"
          value="desarrollo@prueba.com"
          disabled
        />
      </div>
      <span 
        style="color: red" 
        *ngIf="!usuario.valid && usuario.touched" 
        class="label label-danger">OBLIGATORIO
      </span>
  </div>   
  <div>
    <input
      class="custom-control-input"
      id="customCheck"
      type="checkbox"
    />
    <label class="custom-control-label" for="customCheck">
      <span class="text-muted">CONTROL</span>
    </label>
  </div>
  <div class="text-center">
    <button [disabled]="!TransactionForm.form.valid" type="submit">
      ENVIAR
    </button>
  </div>
</form>